
@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;
  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }
  @return $x1;
}
body {
  font-size: 82.5%;
}

$gridUnit: (50px);
$transformUnit: $gridUnit / sqrt(2);
$small: $transformUnit * 2;
.squid-board {
  background-color: black;
  width: 100vw;
  height: 100vw;
}
.grid-wrapper {
  @include cf;
  @include center;
  position: relative;
  height: $gridUnit * 6;
  width: $gridUnit * 8;
}
.grid-item {
  border-style: solid;
  border-width: 2px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.diamond-small {
  background: pink;
  box-shadow: inset -7px -4px 20px 9px black;  height: $small;
  width: $small;
  .diamond__content {
    height: $small;
    width: $small;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .diamond__img {
    width: $gridUnit * 2;
    -webkit-transform: rotate(-45deg) translateY(-$gridUnit * 0.4);
    -ms-transform: rotate(-45deg) translateY(-$gridUnit * 0.4);
    transform: rotate(-45deg) translateY(-$gridUnit * 0.4);
  }
}
.layout-1 {
  .diamond-s1 {
    top: $gridUnit;
    left: $gridUnit * 5;
  }
  .diamond-s2 {
    top: $gridUnit * 2;
    left: $gridUnit * 4;
  }
  .diamond-s3 {
    top: $gridUnit * 2;
    left: $gridUnit * 6;
  }
  .diamond-s4 {
    top: $gridUnit * 3;
    left: $gridUnit * 3;
  }
  .diamond-s5 {
    top: $gridUnit * 3;
    left: $gridUnit * 5;
  }
  .diamond-s6 {
    top: $gridUnit * 3;
    left: $gridUnit * 7;
  }
  .diamond-s7 {
    top: $gridUnit * 4;
    left: $gridUnit * 2;
  }
  .diamond-s8 {
    top: $gridUnit*4;
    left: $gridUnit * 4;
  }
  .diamond-s9 {
    top: $gridUnit * 4;
    left: $gridUnit * 6;
  }
  .diamond-s10 {
    top: $gridUnit * 4;
    left: $gridUnit * 8;
  }
}
